# Node
node_modules/
frontend-app/node_modules/

# Python
.venv/
__pycache__/
*.pyc
backend/uploads/

# Build
dist/
build/
frontend-app/dist/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env
.env.*

# Misc
uploads/
data/
database/

# Model checkpoints and large files
wav2vec2_checkpoints/
backend/wav2vec2_checkpoints/
*.pt
*.dylib
*.ckpt
*.h5
*.onnx
*.pb
*.pkl
*.joblib
*.npz
*.npy
